<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">


<!-- Exclude tests entirely from Checkstyle -->
<module name="BeforeExecutionExclusionFileFilter">
    <!-- Works for both relative and absolute paths on Linux and Windows runners -->
    <property name="fileNamePattern" value="(^|.*/|.*\\)src(/|\\)test(/|\\)java(/|\\).*"/>
</module>


